In [1]:
import pandas as pd
import streamlit as st
import os
import json
from streamlit_option_menu import option_menu
from PIL import Image
import mysql.connector
from datetime import datetime
import re
#import git
#from git.repo.base import Repo

In [34]:


path1 = r"E:\phonepe project\data\aggregated\transaction\country\india\state"
Agg_state_list = os.listdir(path1)
clm1={'State':[], 'Year':[],'Quater':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}

for i in Agg_state_list:
    p_i = os.path.join(path1, i)
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j = os.path.join(p_i, j)
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = os.path.join(p_j, k)
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm1['Transaction_type'].append(Name)
              clm1['Transaction_count'].append(count)
              clm1['Transaction_amount'].append(amount)
              clm1['State'].append(i)
              clm1['Year'].append(j)
              clm1['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_Trans=pd.DataFrame(clm1)
#print(Agg_Trans)
Agg_Trans.to_csv('Agg_Trans.csv',index=False)

app user

In [35]:

#This is to direct the path to get the data as states

path2=r"E:\phonepe project\data\aggregated\user\country\india\state"
agg_user_list=os.listdir(path2)

columns2 = {'State': [], 'Year': [], 'Quarter': [], 'Brands': [], 'Count': [],
            'Percentage': []}
for i in agg_user_list:
    p_i = os.path.join(path2, i)
    agg_year_list = os.listdir(p_i)

    for j in agg_year_list:
        p_j = os.path.join(p_i,j)
        agg_file_list = os.listdir(p_j)

        for k in agg_file_list:
            p_k = os.path.join(p_j, k)
            data = open(p_k, 'r')
            B = json.load(data)
            try:
                for z in B["data"]["usersByDevice"]:
                    brand_name = z["brand"]
                    counts = z["count"]
                    percents = z["percentage"]
                    columns2["Brands"].append(brand_name)
                    columns2["Count"].append(counts)
                    columns2["Percentage"].append(percents)
                    columns2["State"].append(i)
                    columns2["Year"].append(j)
                    columns2["Quarter"].append(int(k.strip('.json')))
            except:
                pass
agg_user = pd.DataFrame(columns2)
#print(agg_user)
agg_user.to_csv('agg_user.csv',index=False)

map_transaction

In [36]:

path3=r"E:\phonepe project\data\map\transaction\hover\country\india\state"
map_state_list=os.listdir(path3)

clm3={'State':[], 'Year':[],'Quater':[],'District':[], 'Transacion_count':[], 'Transacion_amount':[]}

for i in map_state_list:
    p_i = os.path.join(path3, i)
    map_yr=os.listdir(p_i)
    for j in map_yr:
        p_j=os.path.join(p_i,j)
        map_yr_list=os.listdir(p_j)
        for k in map_yr_list:
            p_k=os.path.join(p_j,k)
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['hoverDataList']:
              Name=z['name']
              Count=z['metric'][0]['count']
              amount=z['metric'][0]['amount']
              clm3['District'].append(Name)
              clm3['Transacion_count'].append(Count)
              clm3['Transacion_amount'].append(amount)
              clm3['State'].append(i)
              clm3['Year'].append(j)
              clm3['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Map_Trans=pd.DataFrame(clm3)
#print(Map_Trans)
Map_Trans.to_csv('Map_Trans.csv',index=False)

MAP USER

In [37]:

path4=r"E:\phonepe project\data\map\user\hover\country\india\state"
map_user_list = os.listdir(path4)

columns4 = {"State": [], "Year": [], "Quarter": [], "District": [],
            "RegisteredUser": [], "AppOpens": []}

for state in map_user_list:
    cur_state = os.path.join(path4,state)
    map_year_list = os.listdir(cur_state)

    for year in map_year_list:
        cur_year = os.path.join(cur_state, year)
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = os.path.join(cur_year, file)
            data = open(cur_file, 'r')
            D = json.load(data)

            for i in D["data"]["hoverData"].items():
                district = i[0]
                registereduser = i[1]["registeredUsers"]
                appOpens = i[1]['appOpens']
                columns4["District"].append(district)
                columns4["RegisteredUser"].append(registereduser)
                columns4["AppOpens"].append(appOpens)
                columns4['State'].append(state)
                columns4['Year'].append(year)
                columns4['Quarter'].append(int(file.strip('.json')))

map_user = pd.DataFrame(columns4)
#print(df_map_user)
map_user.to_csv('map_user.csv',index=False)

TOP TRANSACTION

In [38]:
#top_trans
path5=r"E:\phonepe project\data\top\transaction\country\india\state"
top_state_list=os.listdir(path5)
top_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm5={'State':[], 'Year':[],'Quater':[],'Pin_code':[], 'Transacion_count':[], 'Transacion_amount':[]}
clm6={'State':[], 'Year':[],'Quater':[],'District':[], 'Transacion_count':[], 'Transacion_amount':[]}

for i in top_state_list:
    p_i=os.path.join(path5,i)
    top_yr=os.listdir(p_i)

    for j in top_yr:
        p_j=os.path.join(p_i,j)
        top_yr_list=os.listdir(p_j)

        for k in top_yr_list:
            p_k=os.path.join(p_j,k)
            Data=open(p_k,'r')
            D=json.load(Data)
            
            for pin in D['data']['pincodes']:
              Name = pin['entityName']
              Count = pin['metric']['count']
              Amount = pin['metric']['amount']
              clm5['Pin_code'].append(Name)
              clm5['Transacion_count'].append(Count)
              clm5['Transacion_amount'].append(amount)
              clm5['State'].append(i)
              clm5['Year'].append(j)
              clm5['Quater'].append(int(k.strip('.json')))

            for dist in D['data']['districts']:
              Name = dist['entityName']
              Count = dist['metric']['count']
              Amount = dist['metric']['amount']
              clm6['District'].append(Name)
              clm6['Transacion_count'].append(Count)
              clm6['Transacion_amount'].append(amount)
              clm6['State'].append(i)
              clm6['Year'].append(j)
              clm6['Quater'].append(int(k.strip('.json')))


#Succesfully created a dataframe
Top_Trans_pincodes=pd.DataFrame(clm5)
Top_Trans_districts=pd.DataFrame(clm6)
#print(Top_Trans_pincodes)
#print(Top_Trans_districts)
Top_Trans_pincodes.to_csv('Top_Trans_pincodes.csv',index=False)
Top_Trans_districts.to_csv('Top_Trans_districts.csv',index=False)

TOP USER

In [40]:
path6 = r"E:\phonepe project\data\top\user\country\india\state"
top_user_list = os.listdir(path6)
clm7 = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [],
            'RegisteredUsers': []}
clm8 = {'State': [], 'Year': [], 'Quarter': [], 'District': [],
            'RegisteredUsers': []}

for state in top_user_list:
    cur_state = os.path.join(path6, state)
    top_year_list = os.listdir(cur_state)

    for year in top_year_list:
        cur_year = os.path.join(cur_state, year)
        top_file_list = os.listdir(cur_year)

        for file in top_file_list:
            cur_file = os.path.join(cur_year,file)
            data = open(cur_file, 'r')
            F = json.load(data)

            for i in F['data']['pincodes']:
                name = i['name']
                registeredUsers = i['registeredUsers']
                clm7['Pincode'].append(name)
                clm7['RegisteredUsers'].append(registeredUsers)
                clm7['State'].append(state)
                clm7['Year'].append(year)
                clm7['Quarter'].append(int(file.strip('.json')))
            for j in F['data']['districts']:
                name = j['name']
                registeredUsers = i['registeredUsers']
                clm8['District'].append(name)
                clm8['RegisteredUsers'].append(registeredUsers)
                clm8['State'].append(state)
                clm8['Year'].append(year)
                clm8['Quarter'].append(int(file.strip('.json')))



top_user_pincode = pd.DataFrame(clm7)
top_user_district = pd.DataFrame(clm8)
#print(top_user_pincode)
#print(top_user_district)
top_user_pincode.to_csv('top_user_pincode.csv',index=False)
top_user_district.to_csv('top_user_district.csv',index=False)

SQL PART

In [26]:
connection = mysql.connector.connect(
        host='host',
        user='user',
        password="pwd",
        database="dbname"
    )
cur = connection.cursor()

In [4]:
#when needed
#cur.execute("CREATE DATABASE phonepe_pulse")

In [8]:
#create sql table for aggregation_transaction
cur.execute("create table IF NOT EXISTS agg_trans (State varchar(100), Year int, Quarter int, Transaction_type varchar(100), Transaction_count int, Transaction_amount double)")

for i,row in Agg_Trans.iterrows():
    #here %S means string values 
    sql = "INSERT INTO agg_trans VALUES (%s,%s,%s,%s,%s,%s)"
    cur.execute(sql, tuple(row))
    # the connection is not auto committed by default, so we must commit to save our changes
    connection.commit()

In [12]:
# create table for agg_user
cur.execute("create table IF NOT EXISTS agg_user (State varchar(100), Year int, Quarter int, Brands varchar(100), Count int, Percentage double)")

for i,row in agg_user.iterrows():
    sql = "INSERT INTO agg_user VALUES (%s,%s,%s,%s,%s,%s)"
    cur.execute(sql, tuple(row))
    connection.commit()

In [15]:
#create table for map_trans
cur.execute("create table IF NOT EXISTS map_trans (State varchar(100), Year int, Quarter int, District varchar(100), Count int, Amount double)")

for i,row in Map_Trans.iterrows():
    sql = "INSERT INTO map_trans VALUES (%s,%s,%s,%s,%s,%s)"
    cur.execute(sql, tuple(row))
    connection.commit()

In [19]:
#table for map_user
cur.execute("create table IF NOT EXISTS map_user (State varchar(100), Year int, Quarter int, District varchar(100), Registered_user int, App_opens int)")

for i,row in map_user.iterrows():
    sql = "INSERT INTO map_user VALUES (%s,%s,%s,%s,%s,%s)"
    cur.execute(sql, tuple(row))
    connection.commit()

In [22]:
#table for top_trans_pincodes
cur.execute("create table IF NOT EXISTS top_trans_pincode (State varchar(100), Year int, Quarter int, Pincode int, Transaction_count int, Transaction_amount double)")

for i,row in Top_Trans_pincodes.iterrows():
    sql = "INSERT INTO top_trans_pincode VALUES (%s,%s,%s,%s,%s,%s)"
    cur.execute(sql, tuple(row))
    connection.commit()

In [23]:
#table for top_trans_districts
cur.execute("create table IF NOT EXISTS top_trans_district (State varchar(100), Year int, Quarter int, District varchar(100), Transaction_count int, Transaction_amount double)")

for i,row in Top_Trans_districts.iterrows():
    sql = "INSERT INTO top_trans_district VALUES (%s,%s,%s,%s,%s,%s)"
    cur.execute(sql, tuple(row))
    connection.commit()

In [43]:
#table for top_user_pincode
cur.execute("create table IF NOT EXISTS top_user_pincode (State varchar(100), Year int, Quarter int, Pincode int, RegisteredUsers int)")


for index, row in top_user_pincode.iterrows():
    sql = "INSERT INTO top_user_pincode (State, Year, Quarter, Pincode, RegisteredUsers) VALUES (%s, %s, %s, %s, %s)"
    values = (row['State'], row['Year'], row['Quarter'], row['Pincode'], row['RegisteredUsers'])
    cur.execute(sql, values)
    connection.commit()

In [44]:
cur.execute("create table IF NOT EXISTS top_user_district (State varchar(100), Year int, Quarter int, District varchar(100), RegisteredUsers int)")
for j,row in top_user_district.iterrows():
    sql = "INSERT INTO top_user_district VALUES (%s,%s,%s,%s,%s)"
    cur.execute(sql, tuple(row))
    connection.commit()

In [45]:
cur.execute("show tables")
cur.fetchall()

[('agg_trans',),
 ('agg_user',),
 ('map_trans',),
 ('map_user',),
 ('top_trans_district',),
 ('top_trans_pincode',),
 ('top_user_district',),
 ('top_user_pincode',)]

In [ ]:
# Importing Libraries
import pandas as pd
import mysql.connector
import streamlit as st
import os
import json
import geopandas as gpd
from streamlit_option_menu import option_menu
import matplotlib.pyplot as plt
from PIL import Image
import seaborn as sns
import numpy as np
import plotly.express as px
plt.style.use('_mpl-gallery')


connection = mysql.connector.connect(
        host='host',
        user='root',
        password="pwd",
        database="dbname"
    )
cur = connection.cursor()

# Setting up page configuration
icon = Image.open("E:\phonepe project\phonepe_logo.png")
st.set_page_config(page_title= "Phonepe Pulse Data Visualization - Vivekarajan S",
                   page_icon= icon,
                   layout= "wide",
                   initial_sidebar_state= "expanded",
                   menu_items={'About': """# This dashboard app is created by *Vivekarajan S*!
                                        Data has been cloned from Phonepe Pulse Github Repository"""})

st.sidebar.header(" :blue[**Hello! Welcome to my dashboard**]")

#create option in side bar
with st.sidebar:
    selected = option_menu("Menu", ["Home","Chart Analysis","India Map"], 
                icons=["house","graph-up-arrow","map"],
                menu_icon= "menu-button-wide",
                default_index=0,
                styles={"nav-link": {"font-size": "20px", "text-align": "left", "margin": "-2px", "--hover-color": "#EEF5FF"},
                        "nav-link-selected": {"background-color": "#008DDA"}})
    
if selected == "Home":
    st.markdown("## :blue[Creating a Dashboard by User-Friendly Tool Using Streamlit and Plotly]")
    st.write(" ")
    st.markdown("### :blue[Technologies used :] Github Cloning, Python, Pandas, MySQL, mysql-connector-python, Streamlit, and Plotly.")
    st.markdown("### :blue[Overview :] In this streamlit web app you can visualize the phonepe pulse data and gain lot of insights on transactions, number of users, top 10 state, district, pincode and which brand has most number of users and so on. Bar charts, Pie charts and Geo map visualization are used to get some insights.")

if selected == "Chart Analysis":
    st.markdown("## :violet[Top Charts]")
    Type = st.sidebar.selectbox("**Type**", ("Transactions", "Users"))
    
    year = ['2018', '2019', '2020', '2021', '2022', '2023']
    selected_option1 = st.selectbox('Select an option:', year)
    quarter=['1st Quarter','2nd Quarter','3rd Quarter','4th Quarter']
    selected_option2 = st.selectbox('Select an option:', quarter)
    if Type == "Transactions":
        st.markdown("### :blue[Top 10 State based on Total number of transaction and Total amount spent on phonepe]")
        
        # Define your SQL query with placeholders
        sql_query = ("""SELECT State, SUM(Transaction_count) AS Total_Transactions_Count,
                     SUM(Transaction_amount) AS Total_Amount FROM agg_trans WHERE year = %s AND quarter = %s 
                     GROUP BY State ORDER BY Total_Amount DESC LIMIT 10;""")
    
        # Execute the query with the current year and quarter
        cur.execute(sql_query, (selected_option1, selected_option2))
    
        # Fetch the data and create a DataFrame
        data = cur.fetchall()
        df = pd.DataFrame(data, columns=['State', 'Total_Transactions_Count', 'Total_Amount'])
        
        # Plotting
        fig = px.bar(df, x='State', y='Total_Amount', color='Total_Transactions_Count')
        st.plotly_chart(fig, use_container_width=True)
#--------------------------------------------------------------------------------------------------------------
        #map_trans
        st.markdown("### :blue[Top 10 districts of Total Transactions]")
        sql_query = """SELECT Year, District, SUM(Count) AS Total_Transactions
               FROM map_trans WHERE year = %s AND quarter = %s
               GROUP BY Year, District
               ORDER BY Total_Transactions DESC
               LIMIT 10;"""

        # Execute the query
        cur.execute(sql_query, (selected_option1, selected_option2))

        # Fetch the data and create a DataFrame
        data = cur.fetchall()
        df = pd.DataFrame(data, columns=['Year', 'District', 'Total_Transactions'])
        fig = px.pie(df, values='Year', names='District', color='Total_Transactions')
        st.plotly_chart(fig, use_container_width=True)

#--------------------------------------------------------------------------------------------------------------
        #top_trans_district and top_trans_pincode
        st.markdown("### :blue[Top Districts by Total Amount from top_transaction data]")
        sql_query="""SELECT ttp.pincode,ttd.District,
                    SUM(ttd.Transaction_count) AS Total_Transactions_Count,
                    SUM(ttd.Transaction_amount) AS Total FROM top_trans_district AS ttd
                    JOIN top_trans_pincode AS ttp ON ttd.State = ttp.State
                    WHERE ttd.year = %s AND ttd.quarter = %s GROUP BY pincode,ttd.District
                    ORDER BY Total DESC LIMIT 10;"""
        cur.execute(sql_query,(selected_option1, selected_option2))
        data = cur.fetchall()
        df = pd.DataFrame(data, columns=['Pincode', 'District', 'Transactions_Count', 'Total_Amount'])

        # Plotting pie chart
        fig = px.pie(df, values='Total_Amount', names='District',
             hover_data=['Transactions_Count'],
             labels={'Transactions_Count': 'Transactions Count'})
        fig.update_traces(textposition='inside', textinfo='percent+label')
        st.plotly_chart(fig, use_container_width=True)

#--------------------------------------------------------------------------------------------------------------
    if Type == "Users":
        st.markdown("### :blue[Top_users by brands]")
        
        # Define your SQL query with placeholders
        sql_query = ("""SELECT Brands, 
                     SUM(Count) AS Total_Transactions, 
                     SUM(Percentage) AS Total_Percentage
                     FROM agg_user WHERE year = %s AND quarter = %s 
                     GROUP BY Brands ORDER BY Total_Transactions DESC LIMIT 10;""")
        cur.execute(sql_query,(selected_option1, selected_option2))
    
        # Fetch the data and create a DataFrame
        data = cur.fetchall()
        df = pd.DataFrame(data, columns=['Brands', 'Total_Transactions','Total_Percentage'])

        # Plotting
        fig = px.bar(df,
                 x="Brands",
                 y="Total_Transactions",
                 orientation='v',
                 color='Total_Percentage',
                 color_continuous_scale=px.colors.sequential.Agsunset)
        st.plotly_chart(fig,use_container_width=False)
#--------------------------------------------------------------------------------------------------------------
        #map_user
        st.markdown("### :blue[Top 10 District from registered users]")
        sql_query = ("""SELECT District, Year, Registered_user 
                     FROM map_user WHERE year = %s AND quarter = %s
                     GROUP BY District, Quarter, Year, Registered_user
                     ORDER BY Registered_user DESC 
                     LIMIT 10;""")
        cur.execute(sql_query,(selected_option1, selected_option2))

        # Fetch the data and create a DataFrame
        data = cur.fetchall()

        df = pd.DataFrame(data, columns=['District', 'Year', 'Registered_user'])
        fig = px.pie(df, values='Registered_user', names='District', color='District')
        st.plotly_chart(fig, use_container_width=True)

#------------------------------------------------------------------------------------------------------------------
        #top_use_district and pincode
        st.markdown("### :blue[state wise data for Registered users from top_user data]")
        sql_query = """SELECT state, MAX(district) AS district, MAX(RegisteredUsers) AS RegisteredUsers
                FROM (SELECT tud.state, tud.district, tud.RegisteredUsers, NULL AS Pincode 
                FROM top_user_district AS tud 
                WHERE tud.Year=%s AND tud.Quarter=%s 
                UNION ALL
                SELECT tup.state, NULL AS district, NULL AS RegisteredUsers, tup.Pincode 
                FROM top_user_pincode AS tup) AS combined_data 
                GROUP BY state order by RegisteredUsers desc limit 10;"""

        cur.execute(sql_query, (selected_option1, selected_option2))
        data = cur.fetchall()
        df = pd.DataFrame(data, columns=['state', 'District', 'RegisteredUsers'])

        fig = px.bar(df, x='state', y='RegisteredUsers', color='state', title='Top Districts by Registered Users')
        fig.update_xaxes(tickangle=45)
        fig.update_layout(xaxis_title='State', yaxis_title='Registered Users')
        st.plotly_chart(fig)
#------------------------------------------------------------------------------------------------------------------
#india map
if selected == "India Map":
        sql_query="""SELECT state, MAX(RegisteredUsers) AS RegisteredUsers FROM
        (SELECT tud.state, tud.district, tud.RegisteredUsers, NULL AS Pincode FROM top_user_district AS tud
        UNION ALL SELECT tup.state, NULL AS district, NULL AS RegisteredUsers, tup.Pincode FROM top_user_pincode AS tup) AS combined_data GROUP BY state;"""
        cur.execute(sql_query)
        data = cur.fetchall()
        df1 = pd.DataFrame(data, columns=['state', 'RegisteredUsers'])
        df2 = pd.read_csv('Statenames.csv')
        df1.state = df2
        
        fig = px.choropleth(df1,geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
                  featureidkey='properties.ST_NM',
                  locations='state',
                  color='RegisteredUsers',
                  color_continuous_scale='sunset')

        fig.update_geos(fitbounds="locations", visible=False)
        st.plotly_chart(fig,use_container_width=True)